 

.audio-player {
  
  width: 100%;
  box-sizing: border-box;
    padding: 1rem;
 
  font-family: arial;
  color: white;
  font-size: 0.75em;
  overflow: hidden;
  display: grid;
  grid-template-rows: 6px auto;
  padding: 3rem;
  padding-top: 1rem;
}
.audio-player .timeline {
  background: white;
  width: 100%;
  position: relative;
  cursor: pointer;
 
      background: #FFBFCB;
    border-radius: 1rem;
}
.audio-player .timeline .progress {
  background: coral;
  width: 0%;
  height: 100%;
  transition: 0.25s;
   border-radius: 1rem;
    background:#FF2D55;
    position: relative;
}
.audio-player .timeline .progress::after {

}
.audio-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 20px;
  position: relative;
}
.audio-player .controls > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-player .controls .toggle-play.play {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 0;
  width: 0;
  border: 7px solid #0000;
  border-left: 13px solid white;
      margin-left: .5rem;
}
.audio-player .controls .toggle-play.play:hover {
 
}
.audio-player .controls .toggle-play.pause {
  height: 15px;
  width: 20px;
  cursor: pointer;
  position: relative;
      margin-left: .4rem;
}
.audio-player .controls .toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: white;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: white;
  content: "";
  height: 15px;
  width: 3px;
}
.audio-player .controls .toggle-play.pause:hover {
   
}
.audio-player .controls .time {
  display: flex;
}
.audio-player .controls .time > * {
  padding: 2px;
}
.audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
          

  color:#526d7e;
      top: .2rem;
}
.audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}
.audio-player .controls .volume-container .volume-button .volume {
  transform: scale(0.7);
}
.gg-volume{

}
.audio-player .controls .volume-container .volume-slider {
  position: absolute;
  left: -3px;
  top: 15px;
  z-index: -1;
  width: 0;
  height: 15px;
  background: white;
 
  transition: 0.25s;
      background: #ffbfcb;
    box-shadow: 0 0 20px #000a;
    transition: 0.25s;
    border-radius: 5rem;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: coral;
  height: 100%;
  width: 75%;
   border-radius: 5rem;
   background: #ff2d55;

}
.audio-player .controls .volume-container:hover .volume-slider {
  left: -123px;
  width: 120px;
}

.play-container{
  background: #FF2D55;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
      margin: auto;
          align-items: center;
    margin-top: .5rem;
}
.current{
      position: absolute;
    left: 0;
     top:0;
      color:#FF2D55;
}
.length{
    position: absolute;
    right: 0;
    top:0;
    color:#FF2D55;

}