@font-face {
  font-family: "Hermaani";
  src: url("../assets/fonts/IRANYekanBold.ttf") format("truetype");
        
}
:root{
    font-size: 16px;
    --color-white:#FBFBFB;
    --color-yashm:#BEB5AC;
    --color-blue:#526D7E;
    --color-darkblue:#2F414D;
    --color-dark:#303030;
    
    
    
}
body{
     font-family: "Hermaani";
	 background: var(--color-dark);
    margin: 0;
    overflow-x: hidden;
    
   
    
}

a{
    color: unset;
    text-decoration: unset;
}


/**container*/
#big-container{
    margin: auto;
    max-width: 1920px;
    background: red;
    min-height: 10rem;
    font-size: 1rem;
     
    
    
}
/**statistics*/
#statistics{
     font-family: "Hermaani";
    color: #707070;
    height: 13rem;
    background: var(--color-white);
    width: 100%;
    display: flex;
     border: 1px solid var(--color-yashm);
    justify-content: center;
       
    
}
#statistics > .item {
    
    width: 25rem;

}
#statistics > .item + .item{
     border-left: 1px solid var(--color-yashm);
}
#statistics .more{
    width:10rem;padding: 1rem;padding-top: 5rem;border-right:1px solid var(--color-yashm);
    text-align: center;
}
#statistics .more:hover{
    background: var(--color-yashm);
}
.item .img{
    text-align: center
}
.item .label{
     display: flex;
    justify-content: space-around;
    padding: 2rem;
}

/**navbar***/
#navbar{
    background: var(--color-white);
      display: flex;
   
    height: 6rem;
    border-bottom: 1px solid var(--color-yashm);
}
#navbar img{
    padding: 1rem;
    
}
#navbar > div{
    width: 100%;
}
.button{
    cursor: pointer;
        border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #7CB900;
    font-family: Hermaani;
    padding: .5rem 1rem .5rem 1rem;
    color:white;
    border-radius: .5rem;
       display: inline-flex;
    white-space: nowrap;
    
}
.button i{
    margin-left: .5rem;
    margin-top: .3rem;
}
.button.new-version:hover{
    background: #95D909;
}
#search-input{
    outline: none;
    width: 100%;
    margin: 0;
    padding: .8rem;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: white;
    font-size: 1rem;
     border: 1px solid var(--color-yashm);
    border-radius: .5rem;
    margin:1rem;
    margin-top: 1.6rem;
    text-align: right;
    

    
}
.trans{
    background: transparent;
    color:gray;
   margin-left: 4rem;
}
.trans:hover{
    color:darkgray;
}
.search-btn{
    position: relative;top: -2.8rem;right: -2rem;
    color:var(--color-blue);
}
.search-btn:hover{
    color:black;
}
/***navlist*/
.navlist{
 
    background: var( --color-blue);
    color:var(--color-white);
}
.navlist ul{
    
    display: flex;
   flex-direction: row-reverse;
    margin: 0;
    
}
.navlist ul li{
 display: inline;
    padding-right: 2rem;
    white-space: nowrap;
    padding: 1rem;
    
}
.navlist ul li a{
    color: unset;
    text-decoration: unset;
}
.navlist .right a:hover{
    color:var(--color-yashm);
}
.navlist{
    display: flex;
    flex-flow: row-reverse;
    
}
.navlist .right{
    width:100%;
}
.navlist .left li{
    padding-left:1rem;
    white-space: nowrap;
     line-height: 1.5;
      color:#E9E1D9;
}
.navlist .left li + li{
    border-right: 1px solid rgba(255,255,255,.3);
    
    
}
.navlist .left i{
    display: inline-block;  
   vertical-align: bottom;
  
    margin-right: 1rem;

   
}
.navlist .left li:hover{
    color:var(--color-white);
    background: var(--color-darkblue);

   
}
/**slider**/

.slider-wrapper{
    background-color: var(--color-yashm);
    
}
.siema img{
    width:100%;
    margin-bottom: -.6rem;

}
 
.splicer{
    height: 3rem;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
}
.splicer .left{
    
    
}
.splicer div{
    height: 100%;
    width:100%;
    background-image:url('/assets/images/sp-dark.svg');
    background-size:100% 100%;
    
}

.splicer .yashmi{
    
    background-image:url('/assets/images/sp-yashmi.svg');
   
    
}

.splicer .blue{
      background-image:url('/assets/images/sp.svg');
}
.splicer .right{
        transform: scaleX(-1);
}
 .arrow{
    position: absolute;
    top: 45%;
    right:2rem;
     font-size: 3rem;
    transform: scale(var(--ggs,2));
     color: var(--color-dark);
     cursor: pointer;
    
}
.arrow:hover{
    color:var(--color-darkblue);
}
.arrow:active{
    color: var(--color-blue);

}
.arrow-left{
    right: unset;
    left: 2rem;
   transform: scale(var(--ggs,-2));
}
/**sec 1**/
.section-1{
    position: relative;
    min-height: 30rem;
    background-color: var(--color-dark);
    margin-top: -.1rem;
    text-align: right;
}
.title{
    color:var(--color-white);
    padding: 1rem;
    text-align: right;
   border-bottom: 1px solid var(--color-yashm);
    display: inline-block;
    font-size: 1.2rem;
    margin: 1rem;
    
}
.course-container{
    display: flex;
    flex-flow: row-reverse;
    padding: 1rem;

}
.course-container .item{
    background-color:var(--color-yashm);
    width:17rem;
    height:15em;
    border-radius: 2rem;
    margin: .5rem;
    
}

.course-container .item:hover {
    cursor: pointer;
    background-color: var(--color-blue);
}
.course-container .item img{
    transition: transform .1s linear;
}
.course-container .item:hover img{
    transform: translateY(-1rem);
}
.course-container .item #upper{
    width:100%;
    height: 82%;
    background-color:white;
    border-radius: 2rem;
    text-align: center;
}
.course-container .item #more{
    text-align: center;
 
}
.course-container .item img{
       width: 80%;
    text-align: center;
    margin-top: -1rem;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 3px 19px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 19px -5px rgba(0,0,0,0.75);
box-shadow: 0px 3px 19px -5px rgba(0,0,0,0.75);
        
}
.course-container .details{
    position: relative;
    top: -.5rem;
}
.course-container .details *{
    display: inline-block;
    font-size: .8rem;
    color: var(--color-yashm);
    direction: rt
    
    
     
}
.course-container .details i{
    vertical-align:middle;
   margin-left: .4rem;
    color:black;
      margin-right: .3rem;
    transform: scale(var(--ggs,.7));
    opacity: .7;
    
}
.section-1 #articles{
    
    width: 33%;
    height: 30rem;
    
    position: absolute;
    left: 0;
    top: 0;
   
    
}
#articles #download-app{
    
    width:73%;
    height: 13rem;
    background: white;
    margin: auto;
    border-radius: 2rem;
    
}
#articles #article-list{
       width:73%;
    height: 36rem;
    background: white;
    margin: auto;
    border-radius: 2rem;
    margin-top: 1rem;
    overflow: hidden;
}
#articles #article-list .wrapper{
     height: calc(100% - 2.5rem);
    background: white;
     border-radius: 2rem;
    z-index: 2;
    position: relative;
}
#articles .more{
    text-align: center;
    background:  var(--color-dark);
    height: 5rem;
    position: relative;
    top: -2rem;
    vertical-align: middle;
    z-index: 1;
    padding-top: 2rem;
    color: var(--color-white);
    cursor: pointer;
        
    
     
}
#articles .more:hover{
    background-color:var(--color-darkblue);
}
.article-list{
    display: flex;
    flex-direction: column;
  direction: rtl;
}

.article-list > div{
    display: flex;
   
}
.article-list .text{
    width: 100%;
    position: relative;
}
.article-list .text > .tit{
     color: var(--color-blue);
    
}
.article-list .text > .date{
    color:red;
    position: absolute;
    left: 1rem;
    font-size: .7rem;
    top: .5rem;
    color:var(--color-yashm);
    
}
.article-list .text > .excerpt {
    font-size: .8rem;
    padding-left: .5rem;
    color: var(--color-blue);
    opacity: .6;
    
    
}
.article-list .article:hover{
    background: var(--color-white);
    
}
.article-list .article:hover .tit{
    color: black;
}
.article-list .article:hover .excerpt{
    opacity: 1;
}
.article-list img{
    width: 4rem;
    height: 4rem;
    margin: .5rem;
    margin-right: 1rem;
    border-radius: 1rem
}
.poly-more .icon{
    width:4rem;
    height: 4rem;
    margin: auto;
     background: url('/assets/images/Polygon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity .2s linear;
   

   
}

.poly-more .icon.v2{
     width:4rem;
    height: 4rem;
    margin: auto;
     background: url('/assets/images/Polygon-2.svg');
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity .2s linear;
 
   

   
}
.poly-more a{
    display: inline-block;
}
.poly-more:hover .icon{
    opacity: .5;
}
.poly-more:hover{
  
   
}
.poly-more{
    color: white;
       margin-top: -1rem;
    display: inline-block;
}

.section-5 .readmore-poly-wrapper{
    width: 100%;

}
.section-5 .readmore-poly-wrapper .poly-more{
    color: var(--color-blue);
}
.readmore-poly-wrapper{
    text-align: center;
  width:65%;
    
    margin-left: auto;
}
/**sect 2*/
.center{
    text-align: center;
  
}
.section-2{
  min-height:32rem;
    background-color:var(--color-blue);
    text-align: right;
    position: relative;
    padding-bottom: 4rem;
}
.restirct > .text{
    width:65%;
    margin-left: auto;
    padding: 2rem;
    color:var(--color-yashm);
    text-align: justify;
    direction: rtl;
    position: relative
    
    
}
.text .readmore{
    position: absolute;
    left: 1.7rem;
    bottom: 0;
    color: white;
    background-color: var(--color-yashm);
    padding: .3rem;
    padding-right: 1.7rem;
    padding-left: 1.7rem;
    border-radius: .8rem;
    
    
    
}
.text .readmore:hover{
    background-color: var(--color-darkblue);
}
/*sec 3*/

.section-3{
  min-height:25rem;
    background-color:var(--color-yashm);
    text-align: right;
    position: relative;
}

.player-wrapper{
    
    width:80%;
    height: 22em;
    display: flex;
    margin: auto;
   padding-top: 1rem;
        position: relative;
    z-index: 1;
 
}
.player-wrapper > div{
    
    box-sizing: content-box;
    margin: .5rem;
    border-radius: 1.8rem;
        -webkit-box-shadow: 0px 3px 19px -5px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 3px 19px -5px rgba(0,0,0,0.5);
box-shadow: 0px 3px 19px -5px rgba(0,0,0,0.5);
}

.player-wrapper .player{
    width:70%;
    background-color: #FF2D55;
       overflow: hidden;
    
}
.player-wrapper .list{
      background-color: white;
    width: 30%;
    text-align: center;
    
}

.player-wrapper .upper{
       height: calc(100% - 2.5rem);
    background: white;
      border-radius: 1.8rem;
      z-index: 1;
    position: relative;
    
      display: grid;
  grid-template-columns: auto auto;
    box-sizing: border-box;
    padding: 2.5rem;
    
}
.player-wrapper .readmore{
    text-align: center;
    color: white;
    
       background: #FF2D55;
    padding-bottom: 1rem;
        padding-top:1.7rem;
    position: relative;
    top: -1.5rem;
    z-index: 0;
}
.player-wrapper .readmore:hover{
    background: var(--color-dark);
    

}


.player-wrapper .player .upper > div {
 
    display: flex;
    direction: rtl;
   
    position: relative;
    transition: background .2s linear;
     border-radius: 1rem;
 
    
}
.player-wrapper .player .upper > div:hover{
    background-color: var(--color-dark);
   
}

.player-wrapper .player .upper > div:hover div{
   color:white;
    
   
}

.player-wrapper .upper > div::after{
 
}
.player-wrapper .upper > div:hover::after{
   
  
    
}

.player-wrapper .upper .img{
    width: 3.5rem;
    height: 3.5rem;
    background:url('/assets/images/playcirc.png');
    border-radius: 50%;
    background-size: contain;
    margin-top: .5rem;
     margin-right:  .5rem;
    
}

.player-wrapper .upper  .text{
    margin-right: 1rem;
}
.dblue{
    color: var(--color-darkblue);
}
.player-wrapper .upper  .text > .time{
    font-size: .7em;
    margin-top: 1em;
    color:var(--color-blue)
}
.player-wrapper .upper .play-icon{
    background: url('/assets/images/play.svg');
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
    background-repeat: no-repeat;
    margin-right: 1rem;
    margin-top: 1rem;
    
}
.list .img{
    width:67%;
   
      background: url('/assets/images/radio.svg');
    height: 67%;
    margin: auto;
     margin-top: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/**sec 4**/
.oneline-splicer{
    width: 100%;
    height: 9rem;
    transform: scaleX(-1);
    position: absolute;
    bottom: 0;
    z-index: 0;
     background-image:url('/assets/images/sp-dark.svg');
    background-size:100% 100%;
    
        
}
.videocast .upper{
    background-color:#171717;
}
.videocast > div{
    overflow: hidden;
}
.videocast .left{
    width: 70%;
    background-color:#171717;
}
.videocast .right{
    width: 70%;
    background-color:#171717;
    overflow: hidden;
    
}
.videocast .right  > div {
    width: 100%;
    height:100%;
    box-sizing:border-box;
}
.video-js{ display: flex; box-sizing:content-box;}
.video-js .vjs-big-play-button{
 border: none;
    position: relative;
    margin: auto;
       background: #FF2D55;
    width:4rem;
    border-radius: 50%;
    height:4rem;
    line-height: 2;
     box-sizing: content-box;
    top: -.1rem;
    left: -.1rem;
    
     
    
 
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before{
 

    
}
.section-1 .left{
    
}
.left .upper{
    display: block;
     
     
    
}
.left .upper > div{
     
    
}
.left .upper .wrapper{
    display: block;
    height: 100%;
    overflow-y: scroll
}
.player-wrapper.videocast .upper > div.wrapper::after{
   display: none;
}
.player-wrapper.videocast .upper > div.wrapper:hover::after{
   display: none;
}
.videocast .upper .item img{
    width: 6rem;
    height: 4rem;
    border-radius: .8rem;
}
.videocast .upper .item .text{
    width: auto;
    position: relative;
}
.videocast .upper .item .text .tit{
    color: white;
}
.videocast .upper .item .text .descp{
    font-size: .6rem;
        color:var(--color-yashm);
    opacity: .5;
}
.videocast .upper .item .text .date{
    font-size: .6rem;
        color:var(--color-yashm);
    position: absolute;
    left: 0;
    top: 0
}
.videocast .upper .item{
    display: flex;
    padding: .5rem;
    direction: rtl;
    
    
}

.videocast .upper .item:hover{
    background: black;
    
    
}

.vjs-poster{
        background-size: cover;
    transition: all .2s linear;
}


.vjs-poster:hover  {
    filter: brightness(1.3);
    
}

/**scroll**/
/* width */
::-webkit-scrollbar {
  width: .5rem
}

/* Track */
::-webkit-scrollbar-track {
background-color: black;
   
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 background:#154b6d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-darkblue); 
}
.section-4{
    min-height: 35rem;
}
.mobile-menu{
    display: none;
}
/****sec 5*/

.section-5{
     position: relative;
    height: 25em;
    background-color: var(--color-yashm);
    margin-top: -.1rem;
    text-align: right;
    
}
.news-wrapper{
    width: 80%;
    height: auto;
    margin: auto;
     
}
.news-wrapper > div{
    position: relative;
    width: 100%;
    
 
  
}

.news-wrapper > div .item{
    width: 90%;
    margin:auto;
    background-color: var(--color-dark);
    height: 12rem;
    border-radius: 1.7rem;
}
.news-wrapper .upper{
    width: 100%;
    height: 80%;
    background-color: white;
    border-radius: 1.7rem;
    background: url('/assets/images/news.PNG');
    background-size: cover;
    overflow: hidden;
position: relative;
     transition: all .2s linear;
   
    
}
.item .upper .tit{
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-right: 1rem;
    box-sizing: border-box;
 
}
.item .bottom .icon-holder{
    display: inline-block;
    padding-left: 1rem;
    color:var(--color-yashm);
    opacity: .4;
    font-size: .8rem;
 
 
}

.item .bottom i{
    
    display: inline-block;
    
    position: relative;
    
}
.item .bottom{
    text-align: center;
    
} 

.news-wrapper .item{
   
    cursor: pointer;
}
.news-wrapper .item:hover .upper{
    filter: brightness(1.25)
}
.news-wrapper .item:hover .tit{
   background-color: rgba(0,0,0,.7);
}
.news-wrapper .item:hover .icon-holder{
    opacity: 1;
}

.restirct{
   max-width: 1366px;
    margin: auto;
    position: relative
}

.section-6{
    min-height: 18rem;
    background-color: var(--color-darkblue);
    
    
}

.footer-wrapper{
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
    color: white;
}
.footer-wrapper ul{
    direction: rtl;
}

.footer-wrapper .social-icons{
    padding: 1rem;
    display: inline-block;
}

.footer-wrapper .social-icons a{
    display: inline-block;
    margin: .5rem;
    color:var(--color-yashm);
}


.arrow.v2{
    top: 40%;
    margin: 2rem;
}
.berger-menu{
    display: none; cursor: pointer;
}
.show{
    display: block;
}

  .footer-wrapper .logo{
         
        position: relative;
      left: -2rem;
    }
/***media**/

@media (max-width:1234px){
    .berger-menu:active{
        color: black;
       
    }
    .readmore-poly-wrapper{text-align: center;
        width:100%;}
      .audio-player{
        padding: 1rem !important;
    }
    .player-wrapper .upper{
        font-size: .8rem;
            height: 70vw;
    }
    .login-stage{
        display: none;
    }
    .section-1 #articles{
        display: none
    }
    .course-container{
         justify-content: center;
    }
    .restirct > .text{
        width:90%;
    }
    .player-wrapper{
        width: unset;
    }
  
   
   
}



@media (max-width:700px){
    @keyframes example {
  from {right:-100vw;}
  to {right:0;}
}
    
  @keyframes out {
  from {right:0;}
  to {right:-100vw;}
}
    .mobile-menu{

          position: fixed;
        bottom: 0;
        top: 0;
         width:100%;
           height:calc(100vh + 3rem);
         z-index: 5;
        overflow: hidden;
     
    }
    .mobile-menu .l{
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.8);
        
    }
    
    .mobile-menu .r i{
        right: 0;
        position: absolute;
        margin: 1rem;
        transform: scale(var(--ggs,2));
        color:var(--color-darkblue);
        cursor: pointer;
    }
    .mobile-menu .r i:hover{
        color:cadetblue
    }
    .goout{
        animation-name: out !important;
        animation-fill-mode: forwards;
         animation-duration: .5s !important;
    }
    .mobile-menu .r{
              animation-name: example;
  animation-duration: .5s;
           background-color: var(--color-white);
    width: 80%;
        height: 100%;
        position: absolute;
      
        right: 0;
        box-shadow: 1px 5px 5px black;
    }
    .berger-menu{
    display: block;
        padding: 2rem;
}
    .navlist .left,.navlist .right{
        display: none
    }
    #statistics{
        display: none;
    }
  
    .readmore {
        margin-bottom: -1.5rem;
    }
    .player-wrapper .upper .play-icon{
        position: absolute;
        left: 1rem;
        top: 0rem;
        margin-top: .6rem;
    }
    .course-container{
        flex-flow: column;
        justify-content: center;
            align-items: center;
    }
    .course-container .item{
        margin-top: 1.5rem;
    }
    
    .player-wrapper{
        flex-flow: column;
         align-items: center;
        height: auto;
    }
    .player-wrapper .player{
         width: 90%;
        
    }
    .player-wrapper .list{
        width: 90%;
        height: 90vw;
        
    }
    .player-wrapper .upper{
            grid-template-columns: auto;
    }
    
    .course-container .item{
        width: 80vw;
        height: 70vw;
    }
    
    .videocast .right,.videocast .left{
        width: 90%
    }
    .videocast .right{
        height: 90vw;
    }
   
    #navbar img{
        width:8rem;
    }
    .navlist{
        position:sticky;
        top: 0;
        left: 0;
        z-index: 3;
    }
    .arrow.v2 {
    top: 40%;
    margin: 2rem;
    margin-right: 0;
        margin-left: 0;
    }
    .footer-wrapper{
        padding-top: 5rem;
        font-size: .8rem;
    }
    .footer-wrapper{
        width: 20vw;
    }
    
    
    
    
  
}



  